*
{
    transition: 0.2s ease !important;
    font-family: Google Sans;
}
body
{
    background-image: url('https://wallpapercave.com/wp/wp2163572.jpg');
    background-size: cover;
    background-position: top left;
}
.card-body
{
    font-size: 35px;
}
.small
{
    font-size: 18px;
}
.img
{
    width: 100% !important;
}
.logos
{
    height: 100px;
}
.dark-mode
{
    width: 150px;
    text-align: left;
    padding: 0px;
    outline: none;
}