body
{
    background-image: url('https://lh3.googleusercontent.com/proxy/Dq9F4OKfPX6ewvipXe3ZXbnIzlNOV60xH7vYhfgG5QedZL5tcY96OICqHHEAiEGuB_aW5JDRUDtHeLuWnQjN0wf8UhcwxIwafjBOgg=w3840-h2160-p-k-no-nd-mv');
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
}
.jumbotron
{
    border-radius: 0px;
    background-color: #cccccc;
}
marquee
{
    background-color: yellow;
    color: black;
}