body
{
    font-family: Google Sans;
    height: 100%;
}
.card-header
{
    background-color: aqua;
    font-size: large;
    text-align: center;
    border-bottom: 1px solid white;
}
.card
{
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 300px;
    height: 300px;
}
.card:hover
{
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.btn-outline-light
{
    border: none;
}
#nav
{
    width: 35px;
    height: 35px;
}
.navbar-brand
{
    color: white;
}
.navbar-brand:hover
{
    color: white;
}
.classes
{
    padding: 10px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}